[submodule "SinricProPyOO"]
	path = SinricProPyOO
	url = https://github.com/jeimison3/SinricProPyOO.git
[submodule "lib/sinricprolib"]
	path = lib/sinricprolib
	url = https://github.com/sinricpro/python-sdk.git
